body{
    background-color:  hsl(47, 88%, 63%);
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}


.container{
    background-color:  hsl(0, 0%, 100%) ;
    display: block;
    margin: 0 auto;
    width: 400px;
    margin-top: 15%;
    margin-bottom: 15%;
    border: 1px solid black;
    border-radius: 15px;
    padding-left: 30px;
    padding-right: -10px;
    box-shadow: 8px 8px 15px black;
}

.illustration{
    margin-top: 20px;
    border-radius: 15px;
    width: 370px;
}

button{
    background-color:  hsl(47, 88%, 63%);
    font-weight: bold;
    padding: 5px;
    margin-top: 15px;
    border: none;
    border-radius: 4px;
}

h3{
    font-weight: 400;
}
 p{
    color: hsl(0, 0%, 42%);
    font-size: 16px;
    width: 1;
 }

.avatar{
    display: flex;
    margin-bottom: 12px;
}
 .avatar p{
    margin-left: 20px;
    color: hsl(0, 0%, 7%) ;
    font-weight: bold;
 }